* {
  box-sizing: border-box;
}

:root {
  --primary-color: #190b28;
  --secondary-color: #1d8a99;
  --accent-color: #e2289a;
  --light-text: #c5fffd;
  --shadow: #818d92;
  --dark-text: #383e42;
}

body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  background-color: var(--primary-color);
}

img {
  max-width: 15%;
}
